[Unit]
After=network.service mosquitto.service
Description=MQTT Solar Data Receiver

[Service]
Type=simple
WorkingDirectory=/home/supervisor/solar-data-receiver
ExecStart=/home/supervisor/solar-data-receiver/systemctl_files/mqtt_solar_receive.sh
User=supervisor

[Install]
WantedBy=multi-user.target
# WantedBy=default.target
